/* Imports, Used for requireJS optimizer */
@import url('vendor/bootstrap/bootstrap.3.2.0.css');
@import url('vendor/date-range-picker/date-range-picker-bs3.css');
@import url('vendor/backbone-bbgrid/bbGrid.css');

/* ELEMENTS OVERWRITE */
body {
    overflow-y: scroll;
}

a {
    cursor: pointer;
}

#main-period-selector {
    padding: 30px 0px;
}

#header {
    margin-bottom: 50px;
}

input[data-date-range-selector] {
    width: 300px;
}

/*************** PAGES **************/

/* Home */
.settings-container {
    margin-bottom: 40px;
}

.general-charts-container {
    margin-bottom: 20px;
}

.general-charts-container > div:last-child {
    border-left: 1px solid grey;
}

.table-overview-container {
    margin-bottom: 40px;
}

/* bootstrap overwrite */
.nav > li > a {
    transition: all .4s;
}

.dropdown-toggle .caret {
    float: right;
    margin-top: 8px;
}

