<div id="wrapper" class="container">

    <!-- Period selector -->
    <div id="main-period-selector"></div>

    <!-- Header -->
    <div id="header"></div>

    <!-- Content -->
    <div id="content"></div>
</div>