<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-1 control-label">Period</label>
        <div class="col-sm-10">
            <input class="form-control" data-date-range-selector>
        </div>
    </div>
</form>