<div class="settings-container" data-settings></div>

<div class="row general-charts-container">
    <div class="col-md-4" data-chart-male></div>
    <div class="col-md-4" data-chart-female></div>
    <div class="col-md-4" data-chart-device></div>
</div>

<div class="row table-overview-container">
    <div class="col-md-12" data-chart-table></div>
</div>