<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-1 control-label">Show</label>
        <div class="col-sm-2">
            <select class="form-control">
                <option value="participants">Participants</option>
                <option value="unique-participants">Unique participants</option>
                <option value="facebook-likes">Facebook likes</option>
            </select>
        </div>
    </div>
</form>



